%centradoColumna{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;    
}
%centradoCompleto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}
