.listings{
    ul{
        background-color: #fafafa;
        border-radius: 5px;
        .title{
            a{
                text-decoration: none;
                font-size: 14px;
        
            }
            color: #404040;
            font-size: 1.2rem;
            font-weight: 700;
        }
        .elemento-lista{
            display: flex;
            flex-direction: column;
            a{
                color: #858585;
                text-decoration: none;
 
            }
            .lista-btn{
                color: red;
                a{
                    margin: 0 auto;
                }
                text-align: center;
                display: flex;

            }
            .New{
                color: #93561c;
                background-color: #fcd34d;
                width: 40px;
                text-align: center;
                border-radius: 5px;
            }
        
        }
        .lista-btn{
            color: red;
        }
    }
    
    background-color: #fafafa;
    border-radius: 10px;
    padding-bottom: 1rem;
}