body{
    header{

        nav{
            .crayons-header__logo{
                display: flex;
            }
            .header__search{
                width: 100%;
                    form {
                    input{
                        width: 30%;
                    }
                    }
            }
        .lupita {
            img{
                margin-right: 15px;
            }
            padding: 0;
            border: none;
            width: 5px;
            display: flex;
            align-items: center;
        }
                
            
        }

        .logoContainer{
            img{
                width: 50px;
            }
        }

        .profilePicContainer{
            img{
                width: 30px;
                border-radius: 50%;
                border: 1px solid gray;
            }
        }
    
    }
}

@media (max-width: 991px) {
    body{
        header{
    
            nav{
                .header__search{
                    display: none;
                }
                    
                
            
    

        
        }
    }
    }
}