body{
    header{

        @media screen and (min-width: 765px) {
            nav{
            position: relative;
            #abueloDlupita{
                width: 100%;
                display: flex;
                justify-content: space-between;
            .profilePicContainer{
                display: none;
            }
             #papaDlupita{
                width: 50%;
                border: 1px solid black;
                
                
                #lupita{
                    
                    position: absolute;
                    
                }
              }
            }
            
        }
                
        }
        
        nav{
            .crayons-header__logo{
                display: flex;
            }
            .header__search{
                    form {
                        width: 100%;
                    input{
                        width: 10px;
                    }
                    }
            }
        .lupita {
            img{
                margin-right: 15px;
            }
            padding: 0;
            border: none;
            width: 5px;
            display: flex;
            align-items: center;
        }
                
            
        }

        .logoContainer{
            img{
                width: 50px;
            }
        }

        .profilePicContainer{
            img{
                width: 30px;
                border-radius: 50%;
                border: 1px solid gray;
            }
        }
    
    }
}