@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@100;200;700;800&display=swap");
@media screen and (min-width: 765px) {
  body header nav {
    position: relative;
  }
  body header nav #abueloDlupita {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  body header nav #abueloDlupita .profilePicContainer {
    display: none;
  }
  body header nav #abueloDlupita #papaDlupita {
    width: 50%;
    border: 1px solid black;
  }
  body header nav #abueloDlupita #papaDlupita #lupita {
    position: absolute;
  }
}
body header nav .crayons-header__logo {
  display: flex;
}
body header nav .header__search form {
  width: 100%;
}
body header nav .header__search form input {
  width: 10px;
}
body header nav .lupita {
  padding: 0;
  border: none;
  width: 5px;
  display: flex;
  align-items: center;
}
body header nav .lupita img {
  margin-right: 15px;
}
body header .logoContainer img {
  width: 50px;
}
body header .profilePicContainer img {
  width: 30px;
  border-radius: 50%;
  border: 1px solid gray;
}
body body {
  background-color: #f8f8f2;
}
body .main__cards {
  background-color: #f8f8f2;
  margin: 0;
  padding: 0;
  position: relative;
}
@media screen and (max-width: 765px) {
  body .main__cards {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (min-width: 765px) {
  body .main__cards {
    display: flex;
    flex-direction: row;
  }
}
@media screen and (max-width: 765px) {
  body .main__cards #barra {
    background-color: #f8f8f2;
    position: absolute;
    position: fixed;
    margin-top: 88vh;
    z-index: 1;
  }
  body .main__cards #barra ul {
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
  }
  body .main__cards #barra ul li {
    width: 10%;
    list-style: none;
    text-decoration: none;
  }
}
@media screen and (min-width: 765px) {
  body .main__cards #barra {
    background-color: #f8f8f2;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    width: 10%;
    margin-left: 0;
    margin-right: 0;
    height: 100vh;
  }
  body .main__cards #barra ul {
    width: 20px;
    position: fixed;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 0;
    padding-top: 50px;
  }
  body .main__cards #barra ul .nav-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    flex: 1;
    width: 8%;
    list-style: none;
    text-decoration: none;
  }
  body .main__cards #barra ul .nav-item #tresPuntos {
    display: flex;
    flex-direction: row;
  }
}
body .main__cards h1 {
  font-family: "Kanit", sans-serif;
  font-weight: 700;
}
@media screen and (min-width: 765px) {
  body .main__cards .cards__contenido {
    width: 90%;
  }
}
body .main__cards .card .rounded-circle {
  width: 40px;
  height: 40px;
}
body .main__cards .card strong {
  font-size: 17px;
}
body .main__cards .card small {
  font-size: 11.5px;
}
body .main__cards .card a:hover {
  color: purple;
}/*# sourceMappingURL=styles.css.map */